apiVersion: 1
providers:
  - name: 'default'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    options:
      path: /var/lib/grafana/dashboards

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    version: 1

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    version: 1
